{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" ng-app="GraphApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.8.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.8.1.min.css">

    <title>{% trans "Graphs" %}</title>
</head>
<body>
{% block graphs %}
{% endblock %}
</body>
