.rowicon {
    /* TME got this from confluence which has nokia-style applied */
    display: inline-block;
    height: 16px;
    min-width: 16px;
    text-align: left;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 0;
    vertical-align: text-bottom;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAABnRSTlMAZoiZzN091q78AAAAH0lEQVQIW2NgIA44wxhqAlAGcyJMKAxdBK7GCUoTDwCd9gIQsibF/QAAAABJRU5ErkJggg==);
}

.icon-section-opened {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAABnRSTlMAZoiZzN091q78AAAAIUlEQVQImWNgIBOwKDCogBlMyczJECGxMAEIgzGRXFMZAItzAfJQpekuAAAAAElFTkSuQmCC);
}